name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ['^1.14', 'latest']
    steps:
    - uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}
        check-latest: true
    - uses: actions/checkout@v2
    - run: |
        pwd
        echo ${HOME}
        echo ${GITHUB_WORKSPACE}
        echo ${GOPATH}
        echo ${GOROOT}
        mkdir -p $GOPATH/bin
        echo 'export PATH=$PATH:$GOPATH/bin' > runme.sh
        echo 'make tools all' >> runme.sh
        chmod +x runme.sh
        ./runme.sh
      env:
        GOPATH: /home/runner/work/go

